.App {
  text-align: center;
}

body{
  background-color: rgb(50,50,50);
  background-color:rgb(50,50,50);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
  color:rgb(255,255,255);
}

header{
  width:100%;
  background-color: rgb(26,26,26);
  padding:0px;
  max-height: 85px;
  box-sizing:border-box;
  text-align: center;
  margin-top: -20px;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin-left:auto;
  margin-right:auto;
  padding: 0px;
  box-sizing:border-box;
  text-align:center;
}

button{
  background-color: rgb(26,26,26);
  color: white;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  font-size:1.5em;
  outline: none;
}